DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=payment
DB_SSLMODE=disable

RAZORPAY_KEY_ID=RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=RAZORPAY_KEY_SECRET

# Squarespace Configuration
SQUARESPACE_API_KEY=your_squarespace_api_key

# SMTP Configuration (For emailing PDF links)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_password
SMTP_FROM=your_email@gmail.com

# PDF storage directory
PDF_STORAGE_PATH=./storage/pdfs